.header {
    background-color: #39445A;
    text-align: center;
    color: #CED1D6;
    font-size: 32px;
    box-shadow: 0 0 0 3px rgba(24, 29, 38, 0.5);
    padding: 15px;
    position: relative;
    letter-spacing: 7px;

    @media (max-width: 600px) {
        font-size: 22px;
    }

    @media (max-width: 400px) {
        font-size: 14px;
    }
}